.yeRen
{
    margin-top: 20px;
    position: relative;
    width: 350px;
    margin: 20px auto 0 auto;
}
.yeRen img
{
    cursor: pointer;
    position: absolute;
}
.text
{
    position: absolute;
    width: 200px;
    background-color: #66AFE9;
    color: #FFF;
    border-radius: 10px;
    top: 10px;
    box-shadow:3px 3px 3px  #737373;
}
.text::after
{
	content: "";
	position: absolute;
	border: 12px solid;
	border-color: #fff #fff #fff #66AFE9;
	height: 0;
	width: 0;
	left:100% ;
	top: 7px;
}
