* {
    padding: 0;
    margin: 0;
}
p
{
    font-size: 20px;
}
.d3 {
    -wbkit- perspective: 800px;
    -moz- perspective: 800px;
    -o- perspective: 800px;
    perspective: 800px;
    -wbkit- perspective-origin: 50% 50%;
    -moz- perspective-origin: 50% 50%;
    -o- perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    width: 400px;
    margin: auto;
}
.bigCircular
{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: #31B0D5;
	position: relative;
    margin: auto;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}
.smCircular1,.smCircular2
{
	width: 180px;
	height: 180px;
	border-radius: 50%;
	position: absolute;
	left: 10px;
	top: 10px;
    cursor: pointer;
}
.smCircular1
{
	background-color:#5CB85C;
	transition: transform 1s ease-in-out;
	-webkit-transition:-webkit- transform 1s ease-in-out;
	-o-transition:-o-transform 1s ease-in-out;
	-moz-transition:-moz-transform 1s ease-in-out;
    transform-origin: bottom;
    -webkit-transform-origin:bottom ;
    -o-transform-origin:bottom ;
    -moz-transform-origin:bottom ;
}
.bigCircular:hover .smCircular1
{
	transform: rotateX(-180deg);
	-webkit-transform: rotateX(-180deg);
	-o-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
}
.smCircular2
{
    text-align: center;
    padding-top: 80px;
	background-color: #262626;
	z-index: -10;
}
.smCircular2 a
{
    color: #fff;
}
