#aa a:link
{
    color: blue;
}
#aa a:hover
{
    text-decoration: underline;
}
#aa h2
{
    text-align: left;
   
}
ol
{
    text-align: left;
    
    font-weight: bold;
}
#aa
{
    background-color: #fff;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
ol
{
    margin-left: 30px;
}
