*{
    padding: 0;
    margin: 0;
}
p{
	font-size: 20px;
}
body
{
    padding-top: 50px;
}
.banner
{
    position: relative;
    width: 400px;
    height: 200px;
    overflow: hidden;
    margin: auto;
}
.img
{
    width: 300%;
    height: 100%;
    position: relative;
    left: 0px;
    transition: 0.5s left;
    -webkit-transition: 0.5s left ;
    -moz-transition: 0.5s left ;
    -o-transition: 0.5s left;

}
.img li
{
    display: inline-block;
    float: left;
    width: 400px;
}
.img li:nth-child(2)
{

    background-color:lawngreen;
    height: 200px;
}
.img li:nth-child(3)
{
    background-color: aqua;
    height: 200px;
}
.img li:nth-child(1)
{
    height: 200px;
    background-color: red;
}
.count
{
    position: absolute;
   bottom: 0px;
    right: 0px;
}
li
{
    text-decoration: none;
}
.count a
{
    padding: 10px;
    background: #fff;
    opacity: .8;
    border-radius: 50%;
}

#img1:target~.img{
    left: 0;
}
#img2:target~.img{
    left: -100%;
}
#img3:target~.img{
    left: -200%;
}
