body {
    padding-top: 50px;
    min-width: 320px;
    background-color: #EBEBEB;
    font-family: "microsoft yahei", sans-serif;
}

#links {
    height: 50px;
}

.artic {
    margin-top: 30px;
}

.thumbnail {
    box-shadow: 5px 5px 5px gray;
}
.breadcrumb{
    margin-top: 20px;
    background-color: #ddd;
}
