html,
body {
    overflow: hidden;
    width: 100vw;
    min-width: 320px;
    max-width: 640px;
    height: 100vh;
    color: #fff;
}

body,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

body {
    position: relative;
    font-family: "Microsoft Yahei";
    background: rgb(70, 208, 70);
    transition: background .3s;
}

.mt10 {
    margin-top: 10px !important;
}
/*第一第二层公共样式*/
.text-container,
.phone-container {
    position: absolute;
    top: 0;
    width: 300vw;
    height: 100vh;
    transition: left .1s;
}
.page,
.phone {
    float: left;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
/*公共end*/
/*第一层*/
.text-container {
    z-index: 999;
}

.page {
    padding-top: 30px;
}

.page img {
    width: 50px;
    height: 50px;
}

.page h3 {
    margin: 0;
    font-size: 22px;
    font-weight: normal;
    line-height: 30px;
}

.page p {
    margin-top: 10px;
    padding: 0 20px;
    font-size: 18px;
}

.page-1 {
    /*background: gray;*/
}

.page-2 {
    /*background: red;*/
}

.page-3 {
    /*background: yellow;*/
}
/*第二层*/
.phone .content {
    margin: auto;
    /*border: 1px solid #fff;*/
    width: 100vw;
    height: 100vh;
    transition: background 1s;
    transform: rotate(90deg);
    transform-origin: 100% 100%;
}

.phone .phone-1-content {
    transform: rotate(0deg);
}

.phone-1-content {
    /*background: #abcdef;*/
    background: url(../images/phone-bg11.png) no-repeat;
    /*background-position: -100vw 0;*/
}

.phone-2-content {
    /*background: #c2efab;*/
    background: url(../images/phone-bg21.png) no-repeat;
}

.phone-3-content {
    /*background: #abe8ef;*/
    background: url(../images/phone-bg31.png) no-repeat;
}

.phone .andr-0 {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -124.5px;
    width: 249px;
    height: 369px;
}

.phone .andr-1 {
    position: absolute;
    top: 28%;
    left: 0;
    width: 374px;
    height: 220px;
}

.phone .andr-container {
    position: absolute;
    transition: background 1s;
}

.phone .andr-container.weixin,
.phone .andr-container.qq {
    bottom: 0;
    left: 51.5%;
    margin-left: -91.5px;
    width: 183px;
    height: 325px;
}

.phone .andr-container.game {
    top: 34.5%;
    left: 51%;
    margin-left: -133px;
    width: 266px;
    height: 152px;
}

.phone .andr-container.weixin {
    background: url(../images/weixin-1.png) no-repeat;
}

.phone .andr-container.qq {
    background: url(../images/qq-1.png) no-repeat;
}

.phone .andr-container.game {
    background: url(../images/game.png) no-repeat;
}

.navigate {
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -24px;
    width: 48px;
}

.navigate li {
    float: left;
    margin-right: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 4px;
    height: 4px;
}

.navigate li.active {
    background: #fff;
}

.navigate li:last-child {
    margin: 0;
}
