@font-face {
  font-family: 'iconfont';
  /* project id 864031 */
  src: url('//at.alicdn.com/t/font_864031_bplfqiiatwt.eot');
  src: url('//at.alicdn.com/t/font_864031_bplfqiiatwt.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_864031_bplfqiiatwt.woff') format('woff'),
    url('//at.alicdn.com/t/font_864031_bplfqiiatwt.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_864031_bplfqiiatwt.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
div,
video,
img,
canvas,
a,
p,
ul,
li,
h3,
h4 {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

main,
nav,
footer {
  display: block;
}

a {
  text-decoration: none;
  color: $white;
  -webkit-tap-highlight-color: rgba($pureWhite, 0);
}

html,
body {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  height: 1px;
  min-height: 100%;
  min-width: 320px;
  color: $white;
  font-family: arial, pingfang sc, stheiti, microsoft yahei, sans-serif;
}
