@charset 'utf-8';
@import './_tools';
body,
p,
ul,
li,
h3 {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

a {
    color: #333;
    text-decoration: none;
}

@font-face {
    font-family: 'iconfont';
    /* project id 573108 */
    src: url('//at.alicdn.com/t/font_573108_otwruect5foe0zfr.eot');
    src: url('//at.alicdn.com/t/font_573108_otwruect5foe0zfr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_573108_otwruect5foe0zfr.woff') format('woff'),
    url('//at.alicdn.com/t/font_573108_otwruect5foe0zfr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_573108_otwruect5foe0zfr.svg#iconfont') format('svg');
}

html,
body {
    min-width: 320px;
    height: 100%;
}

body {
    padding-top: 66px;
    color: #333;
    background: rgba(20, 210, 180, 0.7);
    font-family: arial, 'pingfang sc', stheiti, simsun, sans-serif;
    font-size: 16px;
    line-height: 23px;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: padding 1s linear;
}

.iconfont {
    margin-right: 5px;
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}

#tip {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 10px 0;
    width: 100%;
    min-width: 320px;
    color: #8a6d3b;
    background-color: #fcf8e3;
    text-align: center;
    transition: opacity 1s linear;
}

.swiper-container {
    cursor: grab;
    overflow: hidden;
    @extend %center;
    width: 800px;
    h3 {
        position: relative;
        font-size: 32px;
        line-height: 70px;
        &::after {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: #aaa;
            content: '';
        }
    }
}

.information {
    border-radius: 10px;
    padding: 0 20px 40px;
    background: #fff;
    .content {
        margin-left: 30px;
    }
    .info {
        padding-top: 10px;
        font-size: 21px;
        line-height: 30px;
        span a {
            color: #00c;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .explain {
        padding-top: 10px;
        a {
            color: #00c;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .contacts {
		padding-top: 10px;
		a:hover {
        color: #000;
    }
	} 
	#email {
		position:relative;
		&:hover {
			&::after,
			&::before {
				display:block;
			}
		}
		&::after {
			display: none;
			position: absolute;
			right: 0;
			bottom: -40px;
			border-radius: 5px;
			padding: 5px 10px;
			color: #8a6d3b;
			background: #efe3a7;
			content: '点击复制';
		}
		&::before {
			display: none;
			position: absolute;
			right: 10px;
			bottom: -10px;
			content: '';
			@include triangle(10px,#efe3a7,'bottom');
		}
	}
    .number,
    .github {
        margin-left: 20px;
    }
    .education {
        span+span {
            margin-left: 50px;
        }
    }
}

@include minScreen(768px) {
    .information {
        border-radius: 0;
    }
    .swiper-container {
        width: 100%;
    }
}

@include minScreen(414px) {
    .swiper-container {
        position: static;
        transform: none;
    }
    .information {
        .education {
            span {
                display: block;
                +span {
                    margin-left: 0;
                }
            }
        }
        .contacts a,
        .contacts span {
            display: block;
        }
        .number,
        .github {
            margin-left: 0;
        }
    }
    body {
        padding-top: 100px;
    }
}
